.navbar {
	position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: transparent; /* Makes it transparent */
  padding: 15px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
  .logo {
	font-size: 24px;
	font-weight: bold;
  }
  
  .nav-links {
	list-style: none;
	display: flex;
	gap: 20px;
  }
  
  .nav-links li a {
	color: rgb(1, 1, 1);
	text-decoration: none;
	font-size: 18px;
  }
  
  .search-icon {
	font-size: 20px;
	cursor: pointer;
  }
  